
        <div class="container">
            <div class="row">

             <div class="col-md-6 col-md-offset-1 col-sm-6">
                    <div class="block">
                        <h1>
                            Beautiful, simple and easy to use App Plus.
                        </h1>
                        <p>
                            This is the home view
                        </p>

                        <ul class="download-btn">
                            <li>
                                <a href="/list" class="btn btn-default btn-apple"> <i class="fa fa-apple"></i>List your Books</a>
                            </li>
                            <li>
                                <a href="/add" class="btn btn-default btn-andriod"><i class="fa fa-android"></i>Add a Book</a>
                            </li>                          
                        </ul>


                        

                    </div>
                </div>
            </div>
        </div>
  
