
        <div class="container">
            <div class="row">

             <div class="col-md-6 col-md-offset-1 col-sm-6">
                    <div class="block">
                        <h1>
                            Beautiful, simple and easy to use App Plus.
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nemo, corporis ipsum soluta nobis ea!
                        </p>                

                    </div>
            </div>
            <div class="col-md-6 col-md-offset-3 col-sm-6">
                        <div class="feature-item">

                            <div class="media">
                                <div class="pull-left icon" href="#">
                                    <i class="fa fa-book"></i>
                                </div>
                                <div class="media-body">
                                   <h4 class="media-heading">{{book.title}}</h4>
                                    <p>{{book.author}}</p>
                                   
                                    <button ng-click="delete()">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
  
